{:playing-channel 1,
 :loaded-channel 1,
 :playing-note 127,
 :cues {:zoom 4,
        :window [1982 738 864 597],
        :hue 312.5,
        :cues {#uuid "3e7c2518-f061-479b-bb33-5f37140f24ec" {:comment "Red Wash",
                                                             :events {:entered {:message "None",
                                                                                :note 1,
                                                                                :channel 1},
                                                                      :started-on-beat {:message "None",
                                                                                        :note 2,
                                                                                        :channel 1},
                                                                      :started-late {:message "Same",
                                                                                     :note 3,
                                                                                     :channel 1}},
                                                             :uuid #uuid "3e7c2518-f061-479b-bb33-5f37140f24ec",
                                                             :start 465,
                                                             :end 477,
                                                             :hue 60.0}}},
 :midi-device #beat_link_trigger.util.MidiChoice{:full-name "CoreMIDI4J - IAC Driver Bus 1"},
 :loaded-note 127,
 :loaded-message "None",
 :enabled "Default",
 :playing-message "None"}
