{:genre "Trance",
 :remixer nil,
 :key "G",
 :original-artist nil,
 :duration 429,
 :artist "Gareth Emery",
 :title "Concrete Angel (Original Mix)",
 :label nil,
 :comment "Pch, fd xslow ad lib as builds | G, 9b, +10",
 :date-added "2012-05-29",
 :album "Concrete Angel",
 :tempo 13000,
 :rating 3}
