{:genre "Trance",
 :remixer nil,
 :key "Am",
 :original-artist nil,
 :duration 226,
 :artist "Lindsey Stirling",
 :title "Transcendence",
 :label nil,
 :comment "Am, 8a, +0",
 :date-added "2012-05-29",
 :album "Lindsey Stomp - EP",
 :tempo 12700,
 :rating 3}
