.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'], i.fa[class*=' icon-']:before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-note:before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip:before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important:before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning:before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution:before {
    background: no-repeat url("../img/caution.svg");
}
